@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Gantari', sans-serif;
}

* {
    text-decoration: none;
}

:root{
    --color-primary: #ef476f;
    --color-secundary: #ffd166;
    --color-third: #06d6a0;
    --color-fourth: #118ab2;
    --color-fifth: #073b4c;
}

/*Grid mantendo a estrura toda em coluna(Header Main Footer)*/
#container-geral {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header""main""footer";
}

.header{
    grid-area: header;
    width: 100%;
    height: 5rem;
    background: var(--color-fifth) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-compras{
    width: 20%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-secundary)
}
.label-compras{
    width: 20%;
    height: 4rem;

}

.label-compras img{
    width: 100%;
}

.user-compras{
    width: 20%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: var(--color-secundary)

}

.container-compras{
    grid-area: main;
    width: 100%;
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content:space-between;
}

.container-compras-left{
    width: 30%;
    height: 70vh;
    margin: 0 2rem;
    margin-top: 2rem;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.192);
    border: 1px solid #c0c0c0;
}

.container-compras-left h2{
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 2rem;
    margin-left: 3rem;
    color:rgb(94, 94, 94);
    color: var(--color-primary);
    font-size: 1.2rem;
    
}

.container-compras-left p{
    text-transform: uppercase;
    margin-left: 3rem;
    margin-top: 1rem;
    color: var(--color-primary);
    
}

.form-compras{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.form-compras label{
    display: block;
    width: 80%;
    margin-top: 1rem;
}

.form-compras input{
    display: block;
    width: 100%;
    height: 2rem;
    outline: none;
    border: 1px solid #ccc;
}

.form-compras button{
   margin-top: 2rem;
   background: var(--color-fourth);
   border: none;
   color: #fff;
   padding: 1rem 3rem;
   cursor: pointer;
   text-transform: uppercase;
   font-size: 0.9rem;

}


.new-ser-compras{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

.btn-compras{
    margin-top: 2rem;
    width: 80%;
    background: var(--color-fourth);
    border: none;
    color: #fff;
    padding: 1rem 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 0.9rem;
}


.container-compras-center{
    width: 30%;
    height: 70vh;
    margin: 0 2rem;
    margin-top: 2rem;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.192); 
}

.container-compras-center h2{
    margin-left: 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.2rem;
}


.formapagamento-compras{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    margin-left: 2rem;
    margin-top: 3rem;
}


.cartao-pagamento-compras{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;

}

.cartao-pagamento-compras i{
    font-size: 3rem;
    color:var(--color-fifth)
}

.pix-pagamento-compras{
    display: flex;
    gap: 1rem;
    align-items: center;
    text-transform: uppercase;
}

.pix-pagamento-compras i{
    font-size: 3rem;
    color:var(--color-fifth)
}

.boleto-pagamento-compras{
    display: flex;
    gap: 1rem;
    align-items: center;
    text-transform: uppercase;
}

.boleto-pagamento-compras i{
    font-size: 3rem;
    color:var(--color-fifth);
    
}


/* Campo de pagameno cartão de crédito */
.campo-dados-compras{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 1.5rem;
    display: none;
    width: 100%;

}

.campo-dados-compras input{
    height: 1.5rem;
    outline: none;
    margin-bottom: 0.5rem;;
}

.campo-cartao-pagamento-compras{
    width: 24rem;
    height: 15rem;
    
}

.campo-cartao-pagamento-compras label{
    display: block;

}

.campo-cartao-pagamento-compras input{
    display: block;
}

.campo-cartao-pagamento-compras-card{
    display: flex;
    gap: 1rem;
    align-items: flex-end;

}

.campo-cartao-pagamento-compras-card, #card-compras{
    width: 15rem;
    outline: none;
}

.campo-cartao-pagamento-compras-card, #card-compras-code{
    width: 3rem;
    outline: none;
    
}

.campo-cartao-pagamento-compras-card-data input{
   width: 24rem;
   outline: none;
}

.campo-cartao-pagamento-compras-card-validade{
    display: flex;
    align-items: flex-end;
}


.campo-cartao-pagamento-compras-card-validade input{
    width: 3rem;
}

/* Término campo cartão de crédito */
.campo-dados-pix-compras{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    display: none;
}
.campo-dados-pix-compras img{
    width: 12rem;
    margin-top: 1rem;
    
}

.campo-dados-boleto-imprimir{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 5rem;
    display: none;
}

.campo-dados-boleto-imprimir button{
    width: 20rem;
    height: 4rem;
    font-size: 1.2rem;
    background:var(--color-fourth);
    border: none;
    color: white;
    cursor: pointer;

}


.container-compras-right{
    width: 30%;
    height: 70vh;
    margin: 0 2rem;
    margin-top: 2rem;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.192);
    position: relative; 
}

.container-compras-right h2{
    margin-left: 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 700;
    font-size: 1.2rem;
}

.container-compras-right h3{
    margin-left: 2rem;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-top: 1rem;    
}

.cupom-desconto-compras{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.cupom-desconto-compras input{
    width: 15rem;
    height: 2rem;
    outline: none;
}

.cupom-desconto-compras button{
    width: 5rem;
    text-transform: uppercase;
    border: none;
    background:var(--color-primary);
    color: #fff;
    cursor: pointer;

}

.total-compras-pagamento{
    width: 100%;
}

.subtotal-compras{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 10rem;
    margin-left: 1rem;

}
.frete-compras{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 10rem;
    margin-left: 1rem;

}
.total-compras{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 10rem;
    margin-left: 1rem;
}

.finalizar-compra-btn{
    display: flex;
    justify-content:center;
    margin-top: 2rem;
    width: 25rem;
}

.finalizar-compra-btn button{
    width: 23rem;
    height: 3rem;
    border: none;
    background:var(--color-primary);
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}
