@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Gantari', sans-serif;
}

* {
    text-decoration: none;
}

/*Grid mantendo a estrura toda em coluna(Header Main Footer)*/
#container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "header""main""footer";
}

/*Cabeçalho inicio*/
#container header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 90;
    background: #264653;
    box-sizing: border-box;
    box-shadow: 1px 3px 15px #264653;
    height: 55px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #eee;
    gap: 600px;
}

/*Inicio do logo*/
header .box-logo {
    width: 225px;
}

header .logo {
    color: #e9c46a;
    font-size: 22px;
    font-weight: bolder;
}

header .logo:hover {
    font-size: 27px;
    transition: .2s linear;
}

/*Término das modificações do logo*/

/*Barra de navegação, modificando dropdown menu e icones*/
.navbar {
    position: fixed;
    display: flex;
}

/*Dropdown menu*/
.dropdown {
    display: none;
    width: 100%;
    position: absolute;
    top: 38px;
    left: 0px;
    background: #264653;
    box-sizing: border-box;
    box-shadow: 1px 3px 15px #264653;
}

.menu li {
    width: 100%;
    position: relative;
    float: left;
    border-left: 1px solid #010101;
    list-style: none;
}

.menu li:first-child {
    border: none;
}

.menu a {
    color: #264653;
    text-decoration: none;
    padding: 5px 13px;
    display: block;
}

.menu a:hover {
    background: #264653;
    color: #fff;
}

.menu .dropdown a {
    color: #eee
}

.menu .dropdown li {
    border: none
}

.menu li:hover ul {
    display: block
}

.menu li ul li:hover ul {
    display: block;
}

/*Término dropdown menu*/
header .navbar a {
    font-size: 18px;
    border-radius: 40px;
    padding: 8px 20px;
    color: #eee;
}

.menu .dropdown li ul {
    position: absolute;
    top: 2px;
    left: 10px;
    background: #fff;
    display: none;
}

header .navbar a:hover {
    color: #fff;
    background-color: #e9c46a;
}

header .fa-bars,
.fa-search,
.fa-shopping-cart,
.fa-user {
    cursor: pointer;
    margin-left: 5px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    font-size: 22px;
    color: #eee;
    border-radius: 50%;
}

header .icons .fa-bars:hover,
.fa-search:hover,
.fa-shopping-cart:hover,
.fa-user:hover {
    color: #eee;
    background: #e9c46a;
    transform: rotate(360deg);
    transition: .3s linear;
}

/*Menu oculto para se tornar responsivo (Não terminado)*/
header .icons #menu-bars {
    display: none;
}

/*Barra de pesquisa oculta*/
.search-form {
    display: flex;
    position: absolute;
    top: -500%;
    right: 2rem;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: 1px 10px 10px rgb(133, 132, 132);
    width: 385px;
    height: 52px;
    transition: .3s linear;
}

.search-form.active {
    display: flex;
    align-items: center;
    top: 120%;
    right: 2rem;
}

.search-form input {
    height: 100%;
    width: 95%;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    text-transform: none;
    border: none;
}

label {
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
}

/*Término barra de pesquisa*/

/*Inicio carrinho de compra*/
.shopping-cart {
    display: flex;
    position: absolute;
    top: -500%;
    right: 2rem;
    background: #fff;
    border-radius: 6px;
    box-shadow: 1px 10px 10px rgb(204, 204, 204);
    min-width: 325px;
    padding: 10px;
    transition: .3s linear;
}

.shopping-cart.active {
    display: inline-block;
    top: 120%;
    right: 2rem;
    transition: .16s linear;

}

.box-cart-buy {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    position: relative;
}

.header-cart-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #264653;
    width: 100%;
    height: 35px;
    font-size: 22px;
    color: #e9c46a;
    border-radius: 5px;
}

.btn-cart-buy {
    margin-top: 1rem;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 5px;
    background-color: #264653;
    color: #e9c46a;
    font-size: 18px;
    cursor: pointer;
    width: 85%;
    text-align: center;
}

.btn-cart-buy:hover {
    letter-spacing: 2px;
    transition: .2s linear;
}

/*Término carrinho de compra*/

/*Inicio do formulário de login*/
.login-form {
    position: absolute;
    top: -800%;
    right: 2rem;
    background-color: #264653;
    border-radius: 5px;
    box-shadow: 1px 10px 10px rgb(204, 204, 204);
    width: 350px;
    transition: .2s linear;
}

.login-form.active {
    display: inline-block;
    top: 120%;
    right: 2rem;
}

.login-form h3 {
    margin-top: 10px;
    color: #e9c46a;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.login-form .box-login {
    margin: 11px;
    border: solid 1px #e9c46a;
    padding: 13px 11px;
    font-size: 1rem;
    color: #264653;
    text-transform: none;
    width: 85%;
}

.remember {
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 5px 0;
    padding-left: 7px;
    ;
}

.login-form label {
    font-size: 1;
    color: #e9c46a;
    cursor: pointer;
}

.btn-login-form {
    margin: 10px 7%;
    width: 50%;
    text-align: center;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 5px;
    border: 0.2px solid #e9c46a;
    background-color: #264653;
    color: #e9c46a;
    font-size: 18px;
    cursor: pointer;
    width: 85%;
}

.btn-login-form:hover {
    letter-spacing: 1px;
    transition: .3s linear;
}

.login-form p {
    color: #e9c46a;
    padding: 10px;
    font-size: 14px;
}

.login-form a {
    color: #f4a261;
}

.login-form a:hover {
    text-decoration: underline;
}

/*Término do formulário de login*/

/*Término da barra de navegação*/
/*Cabeçalho término*/

/* Inicio do corpo */
#container .main {
    grid-area: main;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2px 0px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 1px 2px 10px rgb(143, 143, 143, 0.9);
    z-index: 998px;
    display: flex;
    flex-direction: column;
}

/* Inicio do banner sessão veterinário */


.banner-topo-vet img {
    width: 100%;
    /* height: 80%; */
    position: absolute;
    top: 0rem;
    box-shadow: 2px 2px 15px rgb(172, 172, 172);

}

.banner-topo-vet-text h2 {
    position: absolute;
    color: #ffd166;
    margin-top: 10%;
    font-size: 6rem;
    font-weight: bolder;
    right: 6rem;
    animation: moveBanner 2s 0.5s forwards;
    text-shadow: 1px 1px 20px #fff;

}

.banner-topo-vet-text p {
    position: absolute;
    color: #ffd166;
    margin-top: 19%;
    font-size: 2rem;
    right: 8rem;
    animation: moveBanner 2s 0.7s forwards;
    text-shadow: 1px 1px 20px #fff;

}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
        opacity: 0;
    }

    100% {
        transform: translateY(0) rotateY(0);
        opacity: 100%;
    }
}

/* Término do banner sessão veterinário */
/* icons services */

.icons-services {
    display: flex;
    list-style: none;
    margin-top: 45%;
    justify-content: space-around;
    align-items: flex-end;
    gap: 0.4rem;

}

.icons-services1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    text-align: center;
}

.icons-services2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icons-services3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icons-services4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.icons-services img {
    width: 10rem;
    opacity: 0.3;
    transition: 0.5s;
    filter: grayscale(100%);

}

.icons-services img:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.5s;
    transform: translate(0%, -10%);
    filter: grayscale(0%);

}

.icons-services h2 {
    color: #ef476f;
    margin-top: 1rem;
    font-size: 1.7rem;
    font-weight: 900;
    display: flex;
    justify-content: space-around;
}

.icons-services-text1 {
    width: 20%;
    margin-left: 3rem;

}

.icons-services-text2 {
    width: 20%;
    margin-left: 29rem;
    top: 1rem;

}

/* final icons services */

.conteudo-central {
    display: flex;
    height: 30%;
    margin-top: 2rem;
    width: 100%;
    background-color: #118ab2;
    position: relative;
    overflow: hidden;
}


.content-left-vet {
    width: 50%;



}

.content-left-vet img {
    width: 100%;

}

.medicos-vet {
    height: 10%;
    width: 100%;
    top: 2rem;
}

.content-right-vet {
    width: 50%;
    height: 100%;
    background: #8DD9E9;
    margin-right: 0;
    overflow: visible;
    display: flex;
}

.btn-content-vet1 {
    width: 5%;
    height: 15%;
    background-color: #8DD9E9;
    top: 0rem;
    position: absolute;
    left: 45.05%;
    border-radius: 1rem 0rem 0rem 1rem;

}

#btn-content-vet1-btn {
    position: absolute;
    font-size: 2.5rem;
    top: 10%;
    left: 30%;
    font-family: 'Amatic SC', cursive;
    color: white;

}

.btn-content-vet2 {
    width: 5%;
    height: 15%;
    background-color: #479BAC;
    top: 4rem;
    position: absolute;
    left: 45.05%;
    border-radius: 1rem 0rem 0rem 1rem;

}

#btn-content-vet2-btn {
    position: absolute;
    font-size: 2.5rem;
    top: 10%;
    left: 30%;
    font-family: 'Amatic SC', cursive;
    color: white;
     

}

.btn-content-vet3 {
    width: 5%;
    height: 15%;
    background-color: #11778B;
    top: 8rem;
    position: absolute;
    left: 45.05%;
    border-radius: 1rem 0rem 0rem 1rem;

}

#btn-content-vet3-btn {
    position: absolute;
    font-size: 2.5rem;
    top: 10%;
    left: 30%;
    font-family: 'Amatic SC', cursive;
    color: white;

}

.btn-content-content1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50rem;
    gap: 1rem;


}

.btn-content-content1 h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #ef476f;
    text-align: center;
}

.btn-content-content1 p {
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}


.btn-content-content2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50rem;
    gap: 1rem;
    display: none;

}

.btn-content-content2 h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #ef476f;
    text-align: center;
}

.btn-content-content2 p {
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}


.btn-content-content3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50rem;
    gap: 1rem;
    display: none;
}

.btn-content-content3 h2 {
    font-size: 3rem;
    font-weight: 900;
    color: #ef476f;
    text-align: center;
}

.btn-content-content3 p {
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
}