@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@300&display=swap');

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Gantari', sans-serif;
}
*{
    text-decoration: none;
}
/*Grid mantendo a estrura toda em coluna(Header Main Footer)*/
#container{
    display:grid;
    grid-template-columns: 100%;
    grid-template-areas: "header" "main" "footer";
}
/*Cabeçalho inicio*/
#container header{
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 90;
    background: #264653;
    box-sizing:border-box;
    box-shadow: 1px 3px 15px #264653;
    height: 55px;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    color: #eee;
    gap: 600px;
}
/*Inicio do logo*/
header .box-logo{
    width: 225px;
}
header .logo{
    color: #e9c46a;
    font-size: 22px;
    font-weight: bolder;
}
header .logo:hover{
    font-size: 27px;
    transition:.2s linear;
}
/*Término das modificações do logo*/

/*Barra de navegação, modificando dropdown menu e icones*/
.navbar{
    position:fixed;
    display: flex; 
}
/*Dropdown menu*/
.dropdown{
    display: none;
    width: 100%;
    position: absolute;
    top: 38px;
    left: 0px;
    background: #264653;
    box-sizing:border-box;
    box-shadow: 1px 3px 15px #264653;
}
.menu li{
    width: 100%;
    position: relative;
    float: left;
    border-left: 1px solid #010101;
    list-style: none;
}
.menu li:first-child{border: none;}
.menu a{
    color: #264653;
    text-decoration: none;
    padding: 5px 13px;
    display: block;
}
.menu a:hover{
    background: #264653;
    color: #fff;
}
.menu .dropdown a{ color:#eee}
.menu .dropdown li{ border: none}
.menu li:hover ul{ display: block}
.menu li ul li:hover ul{display: block;}
/*Término dropdown menu*/
header .navbar a{
    font-size: 18px;
    border-radius:40px;
    padding: 8px 20px;
    color:#eee;
}
.menu .dropdown li ul{
    position: absolute;
    top: 2px;
    left: 10px;
    background: #fff;
    display: none;
}
header .navbar a:hover{
    color: #fff;
    background-color: #e9c46a;
}
header .fa-bars, .fa-search, .fa-shopping-cart, .fa-user{
    cursor: pointer;
    margin-left: 5px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    font-size: 22px;
    color: #eee;
    border-radius:50%;
}
header .icons .fa-bars:hover, .fa-search:hover, .fa-shopping-cart:hover, .fa-user:hover{
    color: #eee;
    background: #e9c46a;
    transform: rotate(360deg);
    transition: .3s linear;
}
/*Menu oculto para se tornar responsivo (Não terminado)*/
header .icons #menu-bars{
    display: none;
}
/*Barra de pesquisa oculta*/
.search-form{
    display: flex;
    position: absolute;
    top: -500%; right:2rem;
    background: rgb(255, 255, 255);
    box-sizing:border-box;
    box-shadow: 1px 10px 10px rgb(133, 132, 132);
    width: 385px;
    height: 52px;
    transition: .3s linear;
}
.search-form.active{
    display:flex;
    align-items: center;
    top: 120%; right:2rem;
}
.search-form input{
    height: 100%;
    width: 95%;
    padding:0 20px;
    font-size:  18px;
    color: #000;
    text-transform: none;
    border: none;
}
label{
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
}
/*Término barra de pesquisa*/

/*Inicio carrinho de compra*/
.shopping-cart{
    display:flex;
    position: absolute;
    top: -500%; right: 2rem;
    background: #fff;
    border-radius: 6px;
    box-shadow: 1px 10px 10px rgb(204, 204, 204);
    min-width: 325px;
    padding: 10px;
    transition: .3s linear;
}
.shopping-cart.active{
    display: inline-block;
    top: 120%; right: 2rem;
    transition: .16s linear;

}
.box-cart-buy{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    position: relative;
}
.header-cart-buy{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #264653;
    width: 100%;
    height: 35px;
    font-size: 22px;
    color: #e9c46a;
    border-radius: 5px;
}
.btn-cart-buy{
    margin-top: 1rem;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 5px;
    background-color: #264653;
    color: #e9c46a;
    font-size: 18px;
    cursor: pointer;
    width: 85%;
    text-align: center;
}
.btn-cart-buy:hover{
    letter-spacing: 2px;
    transition: .2s linear;
}
/*Término carrinho de compra*/

/*Inicio do formulário de login*/
.login-form{
    position: absolute;
    top: -800%; right: 2rem;
    background-color: #264653;
    border-radius: 5px;
    box-shadow: 1px 10px 10px rgb(204, 204, 204);
    width: 350px;
    transition: .2s linear;
}
.login-form.active{
    display: inline-block;
    top: 120%; right: 2rem;
}
.login-form h3{
    margin-top: 10px;
    color: #e9c46a;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.login-form .box-login{
    margin: 11px;
    border: solid 1px #e9c46a;
    padding: 13px 11px;
    font-size: 1rem;
    color: #264653;
    text-transform: none;
    width: 85%;
}
.remember{
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 5px 0;
    padding-left:7px; ;
}
.login-form label{
    font-size: 1;
    color: #e9c46a;
    cursor: pointer;
}
.btn-login-form{
    margin: 10px 7%;
    width: 50%;
    text-align: center;
    display: inline-block;
    padding: 10px 24px;
    border-radius: 5px;
    border: 0.2px solid #e9c46a;
    background-color: #264653;
    color: #e9c46a;
    font-size: 18px;
    cursor: pointer;
    width: 85%;
}
.btn-login-form:hover{
    letter-spacing: 1px;
    transition: .3s linear;
}
.login-form p{
    color: #e9c46a;
    padding: 10px;
    font-size:14px;
}
.login-form a{
    color: #f4a261;
}
.login-form a:hover{
    text-decoration: underline;
}
/*Término do formulário de login*/

/*Término da barra de navegação*/
/*Cabeçalho término*/

/* Inicio do corpo */
#container .main{
    grid-area: main;
    position: relative;
    top:0; left: 0; right:0;
    background:#fff;
    padding: 2px 0px;
    display: flex;
    justify-content: center;
    box-sizing:border-box;
    box-shadow: 1px 2px 10px rgb(143, 143, 143,0.9);
    z-index: 998px;
    display: flex;
    flex-direction: column;
}
.main-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 35px;
}
/* Inicio do banner rotativo */
.slider{
    width: 400%;
    height: 500px;
    overflow: hidden;
    margin-top: -37px;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.nav-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: end;
}
.manual-btn{
    border: 2px solid #e9c46a;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin-top: 45px;
}
.manual-btn:not(last-child){
    margin-right: 25px;
}
.manual-btn:hover{
    background: #f4a261;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
.nav-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: end;
    margin-top: 505px;
}
.nav-auto div{
    border: 2px solid #264653;
    padding: 6px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(last-child){
    margin-right: 25px;
}
#radio:checked ~ .nav-auto .auto-btn1{
    background: #e9c46a;
}
#radio:checked ~ .nav-auto .auto-btn2{
    background: #e9c46a;
}
.img-banner{
    width: 100%;
}
/* Término do banner rotativo */
/* Término do corpo */